.ContentDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-width: 100vw;

  .PokemonInfo {
    display: flex;
    flex-direction: column;

    .PokemonImage {
      align-self: center;
      img {
        width: 150px;
      }

    }


    .PokemonStats {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 576px) {
  .ContentDetail {
    min-width: 80vw;
  }
}

@media (min-width: 992px) {
  .ContentDetail {
    min-width: 70vw;
  }
}
