.Content {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .SearchBar {
    form {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 300px;

      div {
        display: flex;
        justify-content: space-between;
        width: 80vw;

        input {
          height: 3em;
          width: 100%;
          margin-right: 2%;
        }

        button {
          font-size: 1em;
          font-weight: bold;
          background-color: #f42;
          border-radius: 5px;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
      span {
        font-size: 2em;
        margin-bottom: 10%;
      }
    }
  }

  .Selects{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 25px;
    select{
      align-self: center;
      height: 30px;
      margin: 0 20px ;
    }
  }
  .pokeball{

  }
}

@media (min-width: 576px) {
  .Content {
    .SearchBar {
      form {
        width: 350px;

        div{
          max-width: 500px;
        }
        input {
          height: 3em;
          width: 80%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .Content {
    .SearchBar {
      form {
        width: 400px;

        input {
          height: 3em;
          width: 100%;
        }
      }
    }
  }
}