.NavbarDesktop{
    display: none;
    justify-content: space-between;
    align-items: center;

    .NavbarLink {
      padding: 20px;

      a {
        text-decoration: none;
        color: white;
        &:hover{
          color: black;
        }
      }
    }
}
.NavbarModalShow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EF5350;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.9;
  position: fixed;
  a {
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      color: #eabd00;
      border-bottom: 2px solid #eabd00;
    }
  }
}

@media (min-width: 576px) {
  .NavbarDesktop{
    display: flex;
  }
  .NavbarModalShow{
    display: none;
  }
}

@media (min-width: 992px) {

}