.Home {
  color: white;
  .Introduction{
    display: flex;
    padding:20px;
    justify-content: center;
    background-color: #263238;;
  }

  .Content{
    padding-bottom: 30px;
  }
}

@media (min-width: 576px){
  .Home {

  }
}

@media (min-width: 992px)  {
  .Home {
    background-size: 45%;
  }
}
