.Home {
  display: grid;
  justify-content: center;
  padding: 20px 0;
}

@media (min-width: 576px){
  .Home {
    padding: 0;
    background-color: aquamarine;
  }
}

@media (min-width: 992px)  {
  .Home {
    padding: 0;
    background-size: 45%;
    background-color: aqua;
  }
}
