.PokemonDetails{
    display: flex;
    justify-content: center;
  align-items: center;
    flex-direction: column;

  .pokeball{
    margin-top: 150px;
  }

  .ContentDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
      width:150px;
    }
  }
}