.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EF5350;
  color: white;
  height: 70px;
  border-bottom: 3px solid darkred;

  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .NavbarLink {
      padding: 20px;

      a {
        text-decoration: none;
        color: white;
        &:hover{
          color: black;
        }
      }
    }
  }
}

@media (min-width: 576px) {

}

@media (min-width: 992px) {

}
