.Header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #EF5350;
  color: white;
  height: 70px;
  border-bottom: 3px solid darkred;

  .Navbar{
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

}

@media (min-width: 576px) {
  .Header{
    justify-content: center;
  }

}

@media (min-width: 992px) {

}
