.Header {
  color: white;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  svg{


  }
  .Navbar{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-right: 25px;
    padding-bottom: 13px;
  }

}

@media (min-width: 576px) {
  .Header{
    justify-content: center;
    .Navbar {
      justify-content: center;
    }
  }

}

@media (min-width: 992px) {
}
