.HamburguerMenu {
  .CloseModal{
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    top: 3rem;
    right: 3rem;
    z-index: 1001;
    opacity: 0.9;
    position: fixed;
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 5px;
    width: fit-content;
    border-radius: 3px;

    span {
      margin: 2px;
      border-radius: 3px;
      background: #444444;
      width: 30px;
      height: 5px;
    }
  }
}

@media (min-width: 576px) {
 .HamburguerMenu{
   display: none;
 }
}

@media (min-width: 992px) {
  .HamburguerMenu{
    display: none;
  }
}